<ion-content>

    <div *ngIf="HayTours">
        <ion-grid fixed>
            <ion-row>
                <div *ngFor="let tour of tours" class="fullwidth">
                    <ion-card class="tall">
                        <ion-toolbar>
                            <div slot="start" style="padding-left: 5%; width: 100%;">
                                <ion-card-title><b>{{tour.name}}</b>
                                </ion-card-title>
                            </div>
                            <div slot="end">
                                <ion-button fill="clear" (click)="lanzarMenu(tour)">
                                    <ion-icon slot="icon-only" name="more"></ion-icon>
                                </ion-button>
                            </div>
                        </ion-toolbar>
                        <ion-card-content>
                            <ion-list mode='ios' lines='none'>
                                <ion-item>
                                    <ion-avatar slot="start">
                                        <img [src]="tour.get_photos[0].photo  | imagenprofile:'tours'">
                                    </ion-avatar>
                                    <ion-label>{{tour.cuidad}} {{tour.pais}}</ion-label>
                                    <strong style="float: right;"> $ {{tour.price}}{{tour.moneda}}  </strong>
                                </ion-item>
                            </ion-list>
                            <ion-list>

                            </ion-list>
                        </ion-card-content>
                    </ion-card>
                </div>

            </ion-row>
        </ion-grid>
    </div>
    <div *ngIf="NoHayTours">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{ 'AdministrarTour.Notienestours' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{ 'AdministrarTour.PuedescreartuTour' | translate }}
                <br><br>
            </ion-card-content>
        </ion-card>
    </div>

    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="createTour()">
        <ion-fab-button color="secondary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>